body {
  background-color: #444;
  background-image: url(b337a2fb0b1289e6757e632dc766ff6b.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh; }

.botao {
  background-color: #19b3e6;
  color: #FFF;
  font-size: 1.8em; }

